@use '/@ui/design/settings/colors.scss' as colors;
@mixin primary-button {
  border-radius: 2px;
  background: #397df6;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
@mixin secondary-button {
  cursor: pointer;
}
@mixin outline-button {
  cursor: pointer;
}
@mixin large {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
@mixin h1 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
@mixin h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
@mixin h3 {
  color: colors.$light-100;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
@mixin regular_text_16 {
  color: colors.$light-100;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@mixin bold_text_16 {
  color: $dark-900;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
@mixin regular_text_14 {
  color: colors.$light-100;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@mixin medium_text_14 {
  color: $dark-900;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
@mixin bold_text_14 {
  color: colors.$light-100;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
@mixin small_text {
  color: colors.$light-100;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@mixin semi-bold_small-text {
  color: $dark-900;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
@mixin regular_link {
  color: colors.$primary-500;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
@mixin small_link {
  color: $primary-500;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
}
