.sidebar_container {
  height: 660px;
  border-right: 1px solid #333333;
}

.main_container {
  padding-top: 62px;
}

.secondary_container {
  margin-top: 36px;
}

.logout_container {
  margin-top: 156px;
}