.carouselProvider {
  width: 491px;
  height: 504px;
  background-color: aqua;
  position: relative;
  .slide {
    width: 100%;
    height: 100%;
  }
  .dot {
    width: 20px;
    height: 20px;
    background-color: aqua;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .buttonBack {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .buttonNext {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
