.container{
    display: flex;
    padding: 0 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.text{
    text-align: center;
    padding: 40px;
    color: antiquewhite;
}