@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*  ?  */
.content {
  background-color: #0d0d0d;
  padding: 24px;
  .registration {
    max-width: 378px;
    background-color: #171717;
    border: 1px solid #333;
    margin: 0 auto;
    h1 {
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 20px;
      margin-top: 28px;
    }
    .item {
      display: flex;
      justify-content: center;
      margin-top: 19px;
    }
    .link {
      padding: 0px 25px;
    }
    p {
      color: #fff;
      text-align: center;
      font-family: Inter;
      margin-top: 20px;
    }
    .SignIn {
      color: #397df6;
      text-align: center;
      font-family: Inter;
      font-weight: 600;
      display: block;
      margin: 13px 0 35px;
    }
    form {
      padding: 0px 24px;
      div {
        margin-top: 22px;
      }
      label {
        color: #8d9094;
        font-size: 14px;
        font-family: Inter;
        line-height: 24px;
      }
      input {
        box-sizing: border-box; /*  ?  */
        border-radius: 2px;
        border: 1px solid #4c4c4c;
        background-color: #171717;
        width: 100%;
        color: var(--light-900, #8d9094);
        font-size: 16px;
        font-family: Inter;
        padding: 8px 11px;
      }
      .button {
        border-radius: 2px;
        background-color: #397df6;
        color: #fff;
        margin-top: 14px;
      }
    }
  }
}
