@use '@ui/design/settings/colors.scss' as colors;

.container {
  min-width: 491px;
  min-height: 504px;
}

.paginator {
  position: absolute;
  top: 16px;
  right: 24px;
  display: flex;
  align-items: center;
  .next {
    cursor: pointer;
    color: colors.$primary-500;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
  }
  .previous {
    cursor: pointer;
    filter: invert(1);
    margin-right: 16px;
  }
  .previousPublicationPage {
    margin-right: 72px;
  }
}
