.block{
    position: relative;
    .img {
        position: absolute;
        top: 7px;
        right: 9px;
        display: inline-block;
        width: 25px;
        height: 25px;
    }
    .EyeOff {
        background: url(/icons/eye-off-outline.svg) 0 0 no-repeat;
    }
    .EyeOn {
        background: url(/icons/eye-outline.svg) 0 0 no-repeat;
    }
}

