@use '/@ui/design/settings/colors.scss' as s;

.modalContent {
  color: white;
}
.registration {
  max-width: 378px;
  background-color: #171717;
  border: 1px solid #333;
  margin: 0 auto;
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000040;
    .img {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: auto;
      height: 40px;
      width: 40px;
    }
  }
  h1 {
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    margin-top: 28px;
  }
  .item {
    display: flex;
    justify-content: center;
    margin-top: 19px;
  }
  .link {
    padding: 0px 25px;
  }
  p {
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    margin-top: 20px;
  }
  .SignIn {
    color: #397df6;
    text-align: center;
    font-family: 'Inter';
    font-weight: 600;
    display: block;
    margin: 13px 0 35px;
  }
  form {
    padding: 0px 24px;
    .block {
      margin-top: 22px;
    }
    .button {
      font-size: 16px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      border-radius: 2px;
      background-color: #397df6;
      color: #fff;
      margin-top: 34px;
      cursor: pointer;
      border: 0;
      padding: 6px 0px;
      width: 100%;
      &:active {
        background: #2f68cc;
        color: #edf3fa;
      }
      &:hover {
        background: #73a5ff;
      }
      &:focus {
        border: 2px solid #2f68cc;
        background: #397df6;
      }
      &:disabled {
        color: #8d9094;
        background: #234e99;
      }
    }
  }
}
