@use '/@ui/design/settings/colors.scss' as colors;

.logoWrapper {
  margin-bottom: 23px;
}

.header {
  margin-top: -6px;
}

.link {
  padding: 0px 30px;
}

.inputWrapper {
  margin-bottom: 27px;
}

.buttonWrapper {
  margin-top: 27px;
  display: flex;
  justify-content: center;
  button {
    width: 100%;
  }
}

.text {
  color: #fff;
  text-align: center;
  font-family: 'Inter';
  margin-top: 15px;
}

.SignIn {
  color: colors.$primary-500;
  text-align: center;
  font-family: 'Inter';
  font-weight: 600;
  display: block;
  margin: 18px 0 15px;
  text-decoration: none;
}
