@use '/@ui/design/settings/colors.scss' as colors;

.logoWrapper {
  margin-bottom: 23px;
}

.header {
  margin-top: -6px;
}

.inputWrapper {
  margin-bottom: 27px;
}

.checkboxWrapper {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  margin-top: -12px;
  margin-left: -3px;
  .text{
    color: #fff;
    display: block;
    margin: -30px 0px 0px 46px;
    text-align: left;
  }
  .errorCheckbox{
    color: #cc1439;
    margin: 14px 0px 0px 5px;
    float: left;
    text-align: left;
    font-size: 13px;
  }
}

.buttonWrapper {
  margin-top: 27px;
  display: flex;
  justify-content: center;
  button {
    width: 100%;
  }
}


.text,
.label {
  color: colors.$light-100;
  font-family: 'Inter';
}

.text {
  text-align: center;
  margin-top: 15px;
}

.label {
  color: colors.$light-100;
}

.link {
  color: colors.$primary-300;
}

.SignIn {
  color: colors.$primary-500;
  text-align: center;
  font-family: 'Inter';
  font-weight: 600;
  display: block;
  margin: 18px 0 15px;
  text-decoration: none;
}
