@use '../../design/settings/colors.scss' as colors;

.error_message {
  color: colors.$danger-300;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.title {
  color: colors.$light-900;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.textarea {
  resize: none;
  height: 84px;
  width: 284px;
  border-radius: 2px;
  border: 1px solid colors.$dark-100;
  background: colors.$dark-500;
  overflow: hidden;
  color: colors.$light-900;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 6px 12px;

  &:hover {
    border: 1px solid colors.$dark-100;
  }

  &:focus {
    outline: 2px solid colors.$primary-700;
  }

  &:active {
    border-radius: 2px;
    border: 1px solid colors.$light-100;
    background: colors.$dark-500;
  }

  &.Error {
    border: 1px solid colors.$danger-300;
    &::placeholder {
      color: colors.$light-100;
    }
  }
}
