.button {
  position: absolute;
  right: 6px;
  bottom: 6px;
  background-color: rgba(30, 30, 30, 0.8);
  padding: 4px 4px 2px 4px;
  z-index: 100;
}

.uploadButton {
  position: absolute;
  right: 12px;
  float: right;
  top: 12px;
  z-index: 100;
  filter: invert(1);
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    filter: invert(0.6);
  }
}

.addPhotosContainer {
  position: absolute;
  transition: 0.2s;
  right: 56px;
  bottom: 32px;
  padding: 5px;
  padding-right: 48px;
  z-index: 100;
  background-color: rgba(30, 30, 30, 0.8);
  max-width: 300px;
  .photosContainer {
    display: flex;
    overflow-x: scroll;
  }
  .uploadedPhoto {
    image-rendering: pixelated;
    object-fit: cover;
    min-width: 86px;
    margin-right: 5px;
    margin-bottom: 2px;
    image-resolution: 3dpi;
  }
  &Hidden {
    opacity: 0;
  }
  ::-webkit-scrollbar {
    height: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 4px;
  }
  input:disabled + label {
    display: none;
  }
}
