@import '../../@ui/design/settings/mixin';

.main {
  padding: 10px;
  max-width: 1021px;
  margin: 0 auto;
  .header {
    display: flex;
    .avatar {
      border-radius: 50%;
      margin: 25px 0px 0px 15px;
    }
    .info {
      width: 100%;
      .blockTop {
        display: flex;
        justify-content: space-between;
        .name {
          @include large;
          color: #fff;
          padding-top: 25px;
          padding-left: 37px;
        }
        .settings {
          padding: 21px 50px 0px 0px;
        }
      }
      .centre {
        display: flex;
        gap: 95px;
        padding: 14px 0px 0px 37px;
        span {
          @include regular_text_14;
          display: block;
        }
      }
      .blockBottom {
        padding: 23px 38px;
        .text {
          @include regular_text_16;
        }
        .link {
          @include regular_link;
        }
      }
    }
  }
  .post {
    padding-top: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      margin: 4px 6px;
    }
  }
}
