@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.DatePicker {
  border-radius: 2px;
  border: 1px solid var(--dark-100, #4c4c4c);
  font-size: 16px;
  color: white;
  background-color: var(--black-a5);
  box-shadow: 0 0 0 1px var(--black-a9);
  padding: 6px 12px;
  line-height: 24px;

  &:hover {
    box-shadow: 0 0 0 1px black;
  }
  
  &:focus {
    box-shadow: 0 0 0 2px black;
  }
  
  &::selection {
    background-color: var(--black-a9);
    color: white;
  }

}


