@import '../../@ui/design/settings/mixin';

.content {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  .user {
    .avatar {
      border-radius: 50%;
    }
    .name {
      @include h3;
    }
    .point {
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
    }
    .time {
      @include small_text;
      color: #8d9094;
    }
  }
  .action {
    color: white;
  }
}
