.content {
  padding: 24px;
  font-family: Inter;
}
.modalContent {
  color: white;
}
.registration {
  max-width: 378px;
  background-color: #171717;
  border: 1px solid #333;
  margin: 0 auto;
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000040;
    .img {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: auto;
      height: 40px;
      width: 40px;
    }
  }
  h1 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 28px;
  }
  p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }
  .SignUp {
    color: #397df6;
    text-align: center;
    font-weight: 600;
    display: block;
    margin: 25px 0 35px;
    text-decoration: none;
  }
  form {
    padding: 0px 24px;

    .button {
      border-radius: 2px;
      background-color: #397df6;
      color: #fff;
      margin-top: 14px;
    }
  }
}

.input_container {
  margin-bottom: 16px;
  margin-top: 22px;
}
.forgot_password_container {
  display: flex;
  flex-direction: row-reverse;
}
.forgot_password_link {
  text-decoration: none;
  color: #8d9094;
  text-align: right;
  margin: 24px 0;
  font-size: 14px;
}
