//vars
//mainColor

$bgColor: #0d0d0d;
$text: #fff;

@mixin btn {
    border-radius:2px;
    background: #397DF6;
    color: #FFF;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
  }