.kitContainer {
  padding: 50px;
  background-color: #0d0d0d;

  .header {
    color: white;
    text-align: center;
  }

  .kitBlock {
    margin: 20px;

    .componentHeader {
      text-align: center;
      color: white;
    }

    .components {
      display: flex;
      gap: 20px;
      padding-top: 20px;
    }
  }
}

.buttonBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonModal {
  text-align: right;
  padding-top: 20px;
}
